/* Global Styling here */
@font-face {
  font-family: "Gellix";
  src: url("/fonts/Gellix/Gellix-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url("/fonts/Gellix/Gellix-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url("/fonts/Gellix/Gellix-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* Header Icons -- onHover */
.apiReferenceIcon:hover > #apiReferenceIcon > g > rect.gradientIcon {
  fill: url(#apiReferenceIconGradient);
}

.statusIcon:hover > #statusIcon > g > rect.gradientIcon {
  fill: url(#statusIconGradient);
}

.communityIcon:hover > #communityIcon > g > rect.gradientIcon {
  fill: url(#communityIconGradient);
}

.documentationIcon:hover > #documentationIcon > g > rect.gradientIcon {
  fill: url(#documentationIconGradient);
}

.blogIcon:hover > #blogIcon > g > rect.gradientIcon {
  fill: url(#blogIconGradient);
}

.helpIcon:hover > #helpIcon > g > rect.gradientIcon {
  fill: url(#helpIconGradient);
}

.slick-arrow {
  display: none !important;
}

/* Fixes blurry rendering on desktop Safari */
.slick-list {
  transform: none !important;
}
